html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: content-box radial-gradient(rgb(153, 111, 208), skyblue);;
}

body{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 4rem;
    margin-left: 4rem;
}
h1{
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 38px;
    filter:drop-shadow(2px 2px 1px #1991d7);
    text-align: center;

}
.container{
    flex-direction: row;
    flex-wrap: wrap;
}
.container-table{
    margin: 0 auto;
    display: flex; /*width:100vw; took top and 2nd one out*/                  
    flex-direction: row;/*height: 100vh;*/
    justify-content:center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically (optional, if needed) */
    
}
.boxed-header {
    padding: 10px;
    border: 1px, solid, #1991d7;
 /* Optional: Add padding to the table header cells for spacing */
  }
  img {
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  }
